services:
  gateway:
    build:
      context: .
      dockerfile: apps/gateway/Dockerfile
    ports:
      - "8000:8000"
    environment:
      - PORT=8000
      - AUTH_HOST=authentication
      - AUTH_PORT=3001
      - JWT_SECRET=supersecretkey
      - JWT_EXPIRATION=15
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    depends_on:
      - authentication
      - redis
    networks:
      - app-network

  authentication:
    build:
      context: .
      dockerfile: apps/authentication/Dockerfile
    expose:
      - "3001"
    environment:
      - AUTH_PORT=3001
      - AUTH_HOST=authentication
      - MONGODB_URI=mongodb://mongodb:27017/nest-challenge
      - JWT_SECRET=supersecretkey
      - JWT_EXPIRATION=15
    depends_on:
      - mongodb
    networks:
      - app-network

  mongodb:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    networks:
      - app-network

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
    networks:
      - app-network

volumes:
  mongodb_data:

networks:
  app-network:
    driver: bridge
